.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul.pizzaList {
  display: block;
}

li.pizzaItem {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
}

li.cartItem {
  list-style: none;
  padding: 15px;
  display: block;
}

.totalcost-block {
  display: block;
  font-weight: bold;
}

.selectedTopping{
  background: rgba(193, 177, 83, 0.69);
  border-radius: 2px;
}
